# If true, utilize tls encryption and authentication
enable_tls = false

# The path to the private key, used for TLS.
private_key = "./test-input/TLS_CA_Signed/server/jal_subscriber_v2_server.key.pem";
#private_key = "./test-input/TLS_Self_Signed/sub-certs/subscriber.key";

# The path to the public cert, used for TLS.
public_cert = "./test-input/TLS_CA_Signed/server/jal_subscriber_v2_server.cert.pem";
#public_cert = "./test-input/TLS_Self_Signed/sub-certs/subscriber.crt";

# File containing all certificates for remote peers concatenated together.
trust_store = "./test-input/TLS_CA_Signed/server/trust_store_dir/jal_subscriber_v2_server.trusted_certs";
#trust_store = "./test-input/TLS_Self_Signed/sub-certs/trust_store_dir/publisher.trusted_certs";

# JalSubscribe v2, Subject to Change
# The path to the root of the database.
db_root = "./subdb";

# The port to listen on for incoming connections
port = 8444;

# The IPv4 hostname or address to bind the http server to for incoming connections.
address = "127.0.0.1";

# The supported record types.
record_type = ["journal", "audit", "log"];

# Allowed mode (archive/archival or live)
mode = "archive";

# Max number of sessions before the least-recently-active session is removed
session_limit = 100;

# The timeout to set before an http transaction times out  0 means no timeout
# This timeout only affects a single connection - e.g. time between POST packets when
# transferring a large journal payload. If reached, the session associated with that
# exchange will be closed
network_timeout = 0;

# The maximum size in bytes of the RAM buffer used to process incoming records.
# If a record payload exceeds this size, it will be dumped to the filesystem during receipt
# and processed in bufferSize chunks.
# A high value here puts more demand on system memory, but can improve performance considerably by
# eliminating use of disk.
# A low value will result in more record payloads being written to disk.
# Each session (probably 3 per producer in most cases) may simultaneously consume up to bufferSize memory
# for processing record data.
# NOTE: This applies only to generic message handling. A specific db interface
# (LMDB for audit and log types for instance) may not respect this setting
buffer_size = 4096;

# A list of supported digest algorithms. These algorithms should be in a single double-quoted string with a space separating the algorithms.
# Valid values are "sha256", "sha384", and "sha512"
digest_algorithms = "sha256";

# The database format with which to store received records
# Valid values are "db" and "fs"
database_type = "db";

# Specify the threshold size at which a journal resume is "worthwhile"
# If a partial journal record is found during session init that exceeds this threshold
# then a journal resume will be performed
# If the partial record is less than this size, the resume will be skipped and the
# record will be transferred from scratch.
# The special value 0 means always resume
# Any negative number disables resume entirely
journal_resume_threshold_size = 0L; #1024*1024 = 1MB (1,048,576 bytes)

# libMicroHttpd does not perform client certificate validation as part of TLS negotiation
# This setting modifies how often the client certificate is checked using
# gnutls_certificate_verify_peers3. The options are:
# - never: The client certificate is never verified
# - once: The client certificate is verified during the INIT message handshake (recommended)
# - always: The client certificate is verified every time an http payload is received
client_certificate_validation = "once";

# seccomp will restrict the jal-subscribe process to the defined system calls.
# When the process is in the setup phase, at startup, it will be restricted to the
# initial_seccomp_rules, both_seccomp_rules and final_seccomp_rules system call sets.
# After the setup phase and before the process is doing its routine work, it will be
# further restricted to only the both_seccomp_rules and final_seccomp_rules system call sets.
enable_seccomp = false;
seccomp_debug = false;
# Use these rules for RHEL8/9
initial_seccomp_rules = ["arch_prctl","bind","brk","execve","flock","fstatfs","getdents","getdents64","getpid","getsockname","getsockopt","getrlimit","getrusage","ioctl","listen","newfstatat","prctl","rseq","seccomp","select","set_tid_address","socket","statfs","sysinfo"]
both_seccomp_rules = ["access","clone","clone3","close","fcntl","fdatasync","fstat","futex","lseek","mkdir","mmap","mprotect","munmap","open","openat","poll","pread64","pwrite64","read","rename","rt_sigaction","rt_sigprocmask","set_robust_list","setsockopt","stat","write"]
final_seccomp_rules = ["accept4","clock_gettime","clock_nanosleep","connect","exit","exit_group","ftruncate","getrandom","getpid","madvise","nanosleep","recvfrom","rt_sigreturn","sched_getaffinity","sched_yield","sendto","sendmsg","shutdown","sysinfo","unlink","writev"]
# RHEL7 doesn't recognize some of the syscalls that are invoked on RHEL9 so it is
# necessary to use a variant set of syscalls
#initial_seccomp_rules = ["arch_prctl","bind","brk","execve","flock","fstatfs","getdents","getdents64","getpid","getsockname","getsockopt","getrlimit","getrusage","ioctl","listen","mremap","prctl","seccomp","select","set_tid_address","socket","statfs"];
#both_seccomp_rules = ["access","clone","close","fcntl","fdatasync","fstat","futex","lseek","mkdir","mmap","mprotect","munmap","open","openat","poll","pread64","pwrite64","read","rename","rt_sigaction","rt_sigprocmask","set_robust_list","setsockopt","stat","write"];
#final_seccomp_rules = ["accept4","clock_gettime","connect","exit","exit_group","ftruncate","getrandom","getpid","madvise","nanosleep","recvfrom","rt_sigreturn","sched_yield","sendto","sendmsg","shutdown","unlink","writev"];

# For http server implementations which support thread pools (such as libmicrohttpd)
# Set the size of the thread pool
# 9 is sufficient for 3 fully connected publishers to be handled concurrently, and is a safe starting point
http_server_thread_pool_size = 9;
