[Unit]
Description=JALoP Subscriber Service

[Service]
Type=simple
User=jal_subscribe
Group=jalop
ExecStart=/usr/bin/jal_subscribe -c /etc/jalop/jal_subscribe_service.cfg -s

[Install]
WantedBy=multi-user.target
