# The path to the private key, used for TLS.
private_key = "./test-input/TLS_CA_Signed/server/jal_publisher_v1_server.key.pem";

# The path to the public cert, used for TLS.
public_cert = "./test-input/TLS_CA_Signed/server/jal_publisher_v1_server.cert.pem";

# Directory file containing the certificates for the remote peers.
remote_cert_dir = "./test-input/TLS_CA_Signed/server/trust_store_dir";

# The path to the root of the database.
db_root = "./testdb";

# The port the Publisher will listen on.
port = 1234L;

# The IP address (interface) the Publisher will to listen on, or 0.0.0.0 to listen on all.
host = "127.0.0.1";

# How long to wait, in seconds, before polling for records after finding no records
poll_time = 1L;

# file storing PID of jald when daemonized.
#pid_file = "/var/log/jalop/jald-pid.txt";

# Log directory of jald when daemonized.
log_dir = "./";

# A list of supported digest algorithms. These algorithms should be ordered by preference
# in a single double-quoted string with a space separating the algorithms.
# Valid values are "sha256", "sha384", and "sha512"
digest_algorithms = "sha256";

#Valid settings for the database_option config setting are the following:
#JDB_NONE - No LMDB db flags are set.
#	This is the slowest, but most reliable setting to prevent data loss or db corruption
#JDB_LMDB_PERFORMANCE_LEVEL1 - Sets MDB_NOMETASYNC
#	Faster than JDB_NONE. No risk of db corruption, but could lose last transaction.
#JDB_LMDB_PERFORMANCE_LEVEL2 - Sets MDB_NOMETASYNC | MDB_NOSYNC
#	This is the recommended setting and is much faster than JDB_LMDB_PERFORMANCE_LEVEL1.
#	No risk of db corruption if filesystem preserves write order otherwise db corruption is possible.  Also could lose last transaction.
#JDB_LMDB_PERFORMANCE_LEVEL3 - Sets MDB_NOMETASYNC | MDB_NOSYNC | MDB_WRITEMAP | MDB_MAPASYNC
#	WARNING!!! This setting is faster than JDB_LMDB_PERFORMANCE_LEVEL2
#	However there is a very high risk of db corruption and data loss in case of a crash or power outage.  Also if this setting is used, all other JAL processes
#	must use this exact same setting.  Overall this setting is not recommended to be used if the risk of db corruption is not acceptable.

database_option = "JDB_LMDB_PERFORMANCE_LEVEL2";

# List of allowed Subscriber peer configurations
peers = ( {
		hosts = ("127.0.0.1");
		subscribe_allow = ("journal", "audit", "log");
	} );

# seccomp will restrict the jal-local-store process to the defined system calls.
# When the process is in the setup phase, at startup, it will be restricted to the
# initial_seccomp_rules, both_seccomp_rules and final_seccomp_rules system call sets. After the setup phase and before the process
# is doing its routine work, it will be further restricted to only the both_seccomp_rules and final_seccomp_rules system call set.
enable_seccomp = false;
seccomp_debug = false;
# Use these rules for RHEL8/9
initial_seccomp_rules = ["arch_prctl","bind","brk","execve","getcwd","getdents64","getrlimit","ioctl","listen","lstat","newfstatat","prctl","readlink","sysinfo","seccomp","set_tid_address","statfs","writev"];
both_seccomp_rules = ["access","clone","clone3","close","epoll_create","fcntl","fstat","futex","getsockname","lseek","mmap","mprotect","munmap","open","read","rseq","rt_sigaction","rt_sigprocmask","set_robust_list","setsockopt","socket","stat","write"];
final_seccomp_rules = ["accept","clock_nanosleep","epoll_ctl","epoll_wait","exit","exit_group","fdatasync","flock","ftruncate","getpeername","getpid","getrandom","getuid","madvise","nanosleep","openat","poll","pread64","prlimit64","pwrite64","recvfrom","rt_sigreturn","sched_getaffinity","sched_yield","select","sendto","shutdown"];
# RHEL7 doesn't recognize some of the syscalls that are invoked on RHEL9 so it is
# necessary to use a variant set of syscalls
#initial_seccomp_rules = ["arch_prctl","bind","brk","execve","getcwd","getrlimit","ioctl","listen","lstat","newfstatat","prctl","readlink","sysinfo","seccomp","set_tid_address","statfs","writev"];
#both_seccomp_rules = ["access","clone","close","epoll_create","fcntl","fstat","futex","getsockname","lseek","mmap","mprotect","munmap","open","read","rt_sigaction","rt_sigprocmask","set_robust_list","setsockopt","socket","stat","write"];
#final_seccomp_rules = ["accept","clock_nanosleep","epoll_ctl","epoll_wait","exit","exit_group","fdatasync","flock","ftruncate","getpeername","getpid","getrandom","getuid","madvise","nanosleep","openat","poll","pread64","prlimit64","pwrite64","recvfrom","rt_sigreturn","sched_getaffinity","sched_yield","select","sendto","shutdown"];
