# path to the root of the database (optional)
db_root = "./testdb";

# file storing PID of jald when daemonized.
#pid_file = "/var/log/jalop/jald-marker-pid.txt";

# Log directory of jald when daemonized.
log_dir = "./";

filter_socket = "jald_filter_socket_request";

#archive_mode (true or false)
archive_mode = true;
#jaldb_mark_unsynced_records_unsent (true or false)
mark_unsent = true;