# path to the root of the database (optional)
db_root = "./testdb";

# file storing PID of jald when daemonized.
#pid_file = "/var/log/jalop/jald-marker-pid.txt";

# Log directory of jald when daemonized.
log_dir = "./";

filter_socket = "jald_filter_socket_request";

#archive_mode (true or false)
archive_mode = true;
#jaldb_mark_unsynced_records_unsent (true or false)
mark_unsent = true;

enable_seccomp = false;
seccomp_debug = true;
initial_seccomp_rules = ["accept","access","arch_prctl","bind","brk","chmod","clone3","connect","execve","fstatfs","getcwd","getrandom","getsockopt","listen","newfstatat","prctl","pread64","prlimit64","readlink","rt_sigaction","seccomp","set_tid_address","socket","statfs","unlink"]
both_seccomp_rules = ["clock_nanosleep","close","fcntl","fstat","futex","getpid","lseek","mmap","mprotect","munmap","openat","read","rseq","rt_sigprocmask","set_robust_list","write"]
final_seccomp_rules = ["exit","exit_group","madvise","pwrite64","recvmsg","rt_sigreturn","sendmsg","tgkill","writev"]
