private_key_file = "./test-input/rsa_key";
public_cert_file = "./test-input/cert";
system_uuid = "34c90268-57ba-4d4c-a602-bdb30251ec77";
hostname = "test.jalop.com";
db_root = "./testdb";
schemas_root = "./schemas/";
socket = "./jal.sock";
sign_sys_meta = false;
manifest_sys_meta = false;
accept_delay_thread_count = 10;
accept_delay_increment = 100;
accept_delay_max = 10000000;

# file storing PID of jal-local-store when daemonized.
pid_file = "/var/log/jalop/jls-pid.txt";

# Log directory of jal-local-store when daemonized.
log_dir = "/var/log/jalop/log/";

enable_seccomp = true;
initial_seccomp_rules = ["sched_yield","arch_prctl","bind","brk","chdir","dup2","execve","flock","getcwd","getdents","getdents64","getrlimit","ioctl","listen","lstat","poll","prctl","prlimit64","rename","rt_sigaction","rt_sigprocmask","seccomp","select","set_tid_address","setsid","statfs","sysinfo"];
final_seccomp_rules = ["sched_yield","accept","access","brk","clone","close","connect","exit","exit_group","fcntl","fdatasync","fstat","futex","getpid","getppid","getrandom","getsockopt","gettid","getuid","lseek","madvise","mkdir","mmap","mprotect","munmap","open","openat","pread64","pwrite64","read","recvmsg","rt_sigreturn","set_robust_list","socket","stat","unlink","write"];

