*.pyc
.sconf_temp/
.sconsign.dblite
release/
debug/
/config.log
/doc/doxygen.out
/doc/devel-doxygen.out
/cov
/cov_integration
testdb
subdb*
test_logs
*.err
*.out
*.log
nbproject
vendor-cargo/
vendor-cargo-*.tar.gz
.tmp-rust-rpm/
*.jar
