# Flag indicating if XML output should be indented or not.
# 0 means no indentation; otherwise do indent output XML.
indent = 1

# Maximum allowed depth in EventClass inheritance.
max_inheritance_depth = 7

# Debug flag for printing more information to aid in troubleshooting.
debug = 0

# Validate Field Values or not
# 0 means skip this check, otherwise validate field content based
# name-to-type mapping from the associated profile
validate_field_value = 1

# When 1, modify all fields or none if a field is not found in EventClass.
# When 0, modify the fields that are found and ignore invalid fields.
# This setting is used by jafmanipulate CLI.
modify_all_or_nothing = 1

# Maximum allowed length (in Bytes) of jaf:i18nString type fields.
max_i18nString_length = 1024

# Maximum length of the optional Event attribute recordId
max_recordId_length = 64

# Prepend location context information to validation error messages or not
# When 1, print additional error information
# When 0, do not print additional error information
extended_error_info = 0

# Provide path which contains all allowable schemas, with each version
# placed in a subdirectory with a name matching the JAFSchemaVersion it contains
# i.e.
# <schema_file_path>/
# |- 1.0.4/
# |  |- profile.xsd
# |  |- eventList.xsd
# |  |- core.xsd
# |  |- translation.xsd
# |  - externalSchemas/
# |- 1.0.5/
# |  |- profile.xsd
# |  |- eventList.xsd
# |  |- core.xsd
# |  |- translation.xsd
# |  - externalSchemas/
# ... and so forth
#schema_file_path = "./schemas/oneSchemas/"

# Optionally specify a character sequence to use for newlines (default \n)
# newline_characters = "\n"

# Optionally specify a character sequence to use for indentation (default \t)
# indent_characters = "\t"

# Optionally specify a character sequence to use for the XML namespace prefix
# for JAF Objects (default tns)
# xml_namespace = "tns"

# Optionally specify versions of the profile.xsd and eventList.xsd schemas
# to load immediately when creating a new jafContext
#
# Note that standalone Event/Events do not contain a JAFSchemaVersion, and
# will currently be validated using the latest schema version which has so far been loaded.
# If no schema versions have been loaded, validation of these types will fail.
# Pre-loading will allow these types to be validated or parsed without needing
# to first parse an EventList to trigger first-time loading of a schema.
pre_load_schema_versions = []
