private_key = "/etc/jalop/TLS_CA_Signed/server/jal_publisher_v1_server.key.pem";
public_cert = "/etc/jalop/TLS_CA_Signed/server/jal_publisher_v1_server.cert.pem";
remote_cert_dir = "/etc/jalop/TLS_CA_Signed/server/trust_store_dir";
db_root = "/var/log/jalop";
port = 8444L;
host = "127.0.0.1";
poll_time = 1L;
#pid_file = "/var/log/jalop/jald-pid.txt";
#log_dir = "./";
digest_algorithms = "sha256";
peers = ( {
		hosts = ("127.0.0.1");
		subscribe_allow = ("journal", "audit", "log");
	} );
enable_seccomp = false;
seccomp_debug = false;
initial_seccomp_rules = ["arch_prctl","bind","brk","execve","getcwd","getdents64","getrlimit","ioctl","listen","lstat","newfstatat","prctl","readlink","sysinfo","seccomp","set_tid_address","statfs","writev"];
both_seccomp_rules = ["access","clone","clone3","close","epoll_create","fcntl","fstat","futex","getsockname","lseek","mmap","mprotect","munmap","open","read","rseq","rt_sigaction","rt_sigprocmask","set_robust_list","setsockopt","socket","stat","write"];
final_seccomp_rules = ["accept","clock_nanosleep","epoll_ctl","epoll_wait","exit","exit_group","fdatasync","flock","ftruncate","getpeername","getpid","getrandom","getuid","madvise","nanosleep","openat","poll","pread64","prlimit64","pwrite64","recvfrom","rt_sigreturn","sched_getaffinity","sched_yield","select","sendto","shutdown"];
