private_key = "/etc/jalop/TLS_CA_Signed/server/jal_publisher_v1_server.key.pem";
public_cert = "/etc/jalop/TLS_CA_Signed/server/jal_publisher_v1_server.cert.pem";
remote_cert_dir = "/etc/jalop/TLS_CA_Signed/server/trust_store_dir";
db_root = "/var/log/jalop";
port = 8444L;
host = "127.0.0.1";
poll_time = 1L;
#pid_file = "/var/log/jalop/jald-pid.txt";
#log_dir = "./";
digest_algorithms = "sha256";
peers = ( {
		hosts = ("127.0.0.1");
		subscribe_allow = ("journal", "audit", "log");
	} );
seccomp:
{
    enable = false;
    debug = false;
    version = "rhel_8_9";
    rhel_8_9: 
    {
		initial = ["access","arch_prctl","bind","clone","connect","execve","fstatfs","getcwd","getrandom","getrlimit","getuid","ioctl","listen","lstat","open","prctl","pread64","prlimit64","readlink","seccomp","set_tid_address","stat","sysinfo","unlink"]
		both = ["accept","brk","clock_nanosleep","clone3","close","epoll_create","fcntl","fstat","futex","getpid","getsockname","getsockopt","lseek","mmap","mprotect","munmap","newfstatat","openat","poll","read","recvmsg","rseq","rt_sigaction","rt_sigprocmask","set_robust_list","setsockopt","socket","write"]
		final = ["epoll_ctl","epoll_wait","exit","exit_group","getdents64","getpeername","madvise","nanosleep","pwrite64","recvfrom","rt_sigreturn","sendmsg","sendto","shutdown","writev"]
	};
    rhel_7: 
    {
		initial = ["access","arch_prctl","bind","clone","connect","execve","fstatfs","getcwd","getrandom","getrlimit","getuid","ioctl","listen","lstat","open","prctl","pread64","prlimit64","readlink","seccomp","set_tid_address","stat","sysinfo","unlink"]
		both = ["accept","brk","clock_nanosleep","close","epoll_create","fcntl","fstat","futex","getpid","getsockname","getsockopt","lseek","mmap","mprotect","munmap","newfstatat","openat","poll","read","recvmsg","rt_sigaction","rt_sigprocmask","set_robust_list","setsockopt","socket","write"]
		final = ["epoll_ctl","epoll_wait","exit","exit_group","getdents64","getpeername","madvise","nanosleep","pwrite64","recvfrom","rt_sigreturn","sendmsg","sendto","shutdown","writev"]
	};
	rhel_8_9_no_filter: 
    {
		initial = ["arch_prctl","bind","brk","execve","getcwd","getdents64","getrlimit","ioctl","listen","lstat","newfstatat","prctl","readlink","sysinfo","seccomp","set_tid_address","statfs","writev"];
		both = ["access","clone","clone3","close","epoll_create","fcntl","fstat","futex","getsockname","lseek","mmap","mprotect","munmap","open","read","rseq","rt_sigaction","rt_sigprocmask","set_robust_list","setsockopt","socket","stat","write"];
		final = ["accept","clock_nanosleep","epoll_ctl","epoll_wait","exit","exit_group","fdatasync","flock","ftruncate","getpeername","getpid","getrandom","getuid","madvise","nanosleep","openat","poll","pread64","prlimit64","pwrite64","recvfrom","rt_sigreturn","sched_getaffinity","sched_yield","select","sendto","shutdown"];
	};
	rhel_7_no_filter: 
    {
		initial = ["arch_prctl","bind","brk","execve","getcwd","getrlimit","ioctl","listen","lstat","newfstatat","prctl","readlink","sysinfo","seccomp","set_tid_address","statfs","writev"];
		both = ["access","clone","close","epoll_create","fcntl","fstat","futex","getsockname","lseek","mmap","mprotect","munmap","open","read","rt_sigaction","rt_sigprocmask","set_robust_list","setsockopt","socket","stat","write"];
		final = ["accept","clock_nanosleep","epoll_ctl","epoll_wait","exit","exit_group","fdatasync","flock","ftruncate","getpeername","getpid","getrandom","getuid","madvise","nanosleep","openat","poll","pread64","prlimit64","pwrite64","recvfrom","rt_sigreturn","sched_getaffinity","sched_yield","select","sendto","shutdown"];
	};
};