[Unit]
Description=JALoP Publishing Service

[Service]
Type=simple
User=jald
Group=jalop
ExecStart=/usr/sbin/jald -c /etc/jalop/jald_service.cfg -f --no-daemon

[Install]
WantedBy=multi-user.target
