private_key = "/etc/jalop/TLS_CA_Signed/client/jal_publisher_v2_client.key.pem";
public_cert = "/etc/jalop/TLS_CA_Signed/client/jal_publisher_v2_client.cert.pem";
publisher_id = "cc0191c2-97e8-4cbf-af13-920d268d68ec";
poll_time = 1L;
retry_interval = 30L;
network_timeout = 60L;
db_root = "/var/log/jalop";
schemas_root = "/etc/jalop/schemas/";
#pid_file = "/var/log/jalop/jald-pid.txt";
#log_dir = "./";
digest_algorithms = "sha256";
database_option = "JDB_LMDB_PERFORMANCE_LEVEL2";
peers = ( {
	host = "127.0.0.1";
	port = 8444L;
	mode = "archive";
	digest_challenge = ["on"];
	record_types = ["audit", "log", "journal"];
	cert_dir = "/etc/jalop/TLS_CA_Signed/client/trust_store_dir";
	} );

seccomp:
{
    enable = true;
    debug = false;
    version = "rhel_8_9";
    rhel_8_9: 
    {
        initial = ["arch_prctl","bind","execve","faccessat2","fstatfs","getcwd","getpid","getrandom","ioctl","listen","lstat","prctl","pread64","prlimit64","readlink","seccomp","set_tid_address","statfs","unlink"]
		both = ["access","brk","clock_nanosleep","clone","clone3","close","connect","fstat","futex","getpid","getrandom","lseek","mmap","mprotect","munmap","nanosleep","newfstatat","open","openat","poll","read","rseq","rt_sigaction","rt_sigprocmask","set_robust_list","setsockopt","socket","stat","write"]
		final = ["accept","exit", "exit_group","fcntl","getdents","getdents64","getpeername","getsockname","getsockopt","gettid","getuid","madvise","mkdir","recvfrom","recvmsg","rmdir","rt_sigreturn","sendmsg","sendto","socketpair","sysinfo","uname"]
	};
    rhel_7: 
    {
       	initial = ["arch_prctl","bind","execve","fstatfs","getcwd","getpid","getrandom","ioctl","listen","lstat","prctl","pread64","prlimit64","readlink","seccomp","set_tid_address","statfs","unlink"]
		both = ["access","brk","clock_nanosleep","clone","close","connect","fstat","futex","getpid","getrandom","lseek","mmap","mprotect","munmap","nanosleep","newfstatat","open","openat","poll","read","rt_sigaction","rt_sigprocmask","set_robust_list","setsockopt","socket","stat","write"]
		final = ["accept","exit", "exit_group","fcntl","getdents","getdents64","getpeername","getsockname","getsockopt","gettid","getuid","madvise","mkdir","recvfrom","recvmsg","rmdir","rt_sigreturn","sendmsg","sendto","socketpair","sysinfo","uname"]
	};
	rhel_8_9_no_filter: 
    {
        initial = ["arch_prctl","execve","faccessat2","getcwd","getrlimit","ioctl","lstat","prctl","readlink","seccomp","set_tid_address","statfs"]
		both = ["access","brk","close","fstat","fstatfs","getdents64","lseek","mmap","mprotect","munmap","newfstatat","open","read","rt_sigaction","rt_sigprocmask","set_robust_list","stat","write"]
		final = ["clock_nanosleep","clone","clone3","connect","exit","exit_group","fcntl","fdatasync","flock","ftruncate","futex","getdents","getpeername","getpid","getrandom","getsockname","getsockopt","gettid","getuid","madvise","mkdir","nanosleep","openat","poll","pread64","pselect6","pwrite64","recvfrom","rename","rmdir","rseq","select","setsockopt","rt_sigreturn","pselect6","sched_yield","sendto","socket","socketpair","sysinfo","uname","writev"]
	};
	rhel_7_no_filter: 
    {
        initial = ["arch_prctl","execve","getcwd","getrlimit","ioctl","lstat","prctl","set_tid_address","seccomp","statfs"]
		both = ["access","brk","close","fstat","fstatfs","lseek","mmap","mprotect","munmap","open","read","rt_sigaction","rt_sigprocmask","set_robust_list","stat","write"]
		final = ["clone","connect","exit","exit_group","fcntl","fdatasync","flock","ftruncate","futex","getpid","getrandom","getdents","getpeername","getsockname","getsockopt","gettid","getuid","madvise","mkdir","nanosleep","openat","poll","pread64","pwrite64","recvfrom","rename","rmdir","rt_sigreturn","sched_yield","select","sendto","setsockopt","socket","sysinfo","uname","writev"]
	};
};

http_client_retry_count = 50;
http_client_retry_delay = 1000000;

markRequest_socket = "/var/run/jalop/jald/socket/markRequest.sock";
logRecord_socket = "/var/run/jalop/jald/socket/logRecord.sock";
auditRecord_socket = "/var/run/jalop/jald/socket/auditRecord.sock";
journalRecord_socket = "/var/run/jalop/jald/socket/journalRecord.sock";

