private_key_file = "/etc/jalop/rsa_key";
public_cert_file = "/etc/jalop/cert";
system_uuid = "34c90268-57ba-4d4c-a602-bdb30251ec77";
hostname = "test.jalop.com";
db_root = "/var/log/jalop";
schemas_root = "/etc/jalop/schemas/";
#socket = "./jal.sock";
#socket_owner = "jalls";
#socket_group = "jalproducer";
#socket_mode = "0420";
# example socket file listing after being created
# sr--w----.  1 jalls jalproducer  0 Jan 23 13:15 /var/run/jalop/jal.sock
daemon = false;
sign_sys_meta = false;
manifest_sys_meta = false;
sys_meta_dgst_alg = "sha256";
journal_record_size_limit = -1L
audit_record_size_limit = 200000000L
log_record_size_limit = 200000000L
#accept_delay_thread_count = 10;
#accept_delay_increment = 100;
#accept_delay_max = 10000000;
#pid_file = "/var/log/jalop/jls-pid.txt";
log_dir = ".";
seccomp:
{
    enable = true;
    debug = false;
    version = "rhel_8_9";
    rhel_8_9: 
    {
        initial = ["arch_prctl","bind","capget","capset","chdir","chmod","chown","dup2","execve","flock","fstatfs","getcwd","getdents","getdents64","geteuid","getgid","getrlimit","ioctl","listen","lstat","prctl","prlimit64","readlink","rename","seccomp","select","set_tid_address","setsid","statfs","sysinfo"];
        both = ["brk","ftruncate","newfstatat","poll","rt_sigaction","rt_sigprocmask"];
        final = ["accept","access","clone3","clone","close","connect","exit","exit_group","faccessat2","fcntl","fdatasync","fstat","futex","getpid","getppid","getrandom","getsockopt","gettid","getuid","kill","lseek","madvise","mkdir","mmap","mprotect","munmap","open","openat","pread64","pwrite64","read","recvmsg","rseq","rt_sigreturn","sched_yield","sendto","set_robust_list","socket","stat","tgkill","unlink","write","writev"];
    };
};