[Unit]
Description=JALoP Localstore Service
BindsTo=jalls.socket
After=jalls.socket

[Service]
Type=simple
User=jalls
Group=jalop
ExecStart=/usr/bin/jal-local-store -c /etc/jalop/jalls_service.cfg

[Install]
WantedBy=multi-user.target
