[ req ]
default_bits = 2048
distinguished_name = req_distinguished_name
string_mask = utf8only
req_extensions = server_req

[ req_distinguished_name ]
countryName						= Country
stateOrProvinceName		= State
localityName					= City
organizationName		= Organization
0.organizationalUnitName	= Department1
1.organizationalUnitName	= Department2
commonName						= CN
emailAddress					= email

countryName_default             = US
stateOrProvinceName_default     = MyState
localityName_default            = MyTown
organizationName_default        = MyOrg
0.organizationalUnitName_default= MyDept
1.organizationalUnitName_default= JALoP
emailAddress_default            = jal_tech@my.org 
commonName_default              = jal-publisher-v1-server

[ server_req ]
basicConstraints = CA:FALSE
extendedKeyUsage = serverAuth
subjectAltName = @alt_name

[ alt_name ]
DNS.0 = localhost
DNS.1 = jal-publisher-v1-server
IP.0 = 127.0.0.1
